$primary-color:#FFEFE7;
$secundary-color:#FFDAC6;
$tertiary-color:#BABD8D;
$primary-text-color:#7C6A0A;
$quaternary-color:#FA9500;
$font-stackl: 'IBM Plex Sans' , sans-serif;
$paragraph-size:1.5em;


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $primary-color;
    font-family: $font-stackl;
}
nav{
    width: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    color: $primary-text-color;
    padding: 15px;
    p{
        font-size: $paragraph-size;
        padding-left: 30px ;
    }
    .icons{
        display: flex;
        grid-area: 15px;
        margin-right: 30px;
        button{
            background: none;
            border: none;
        }
    }
}
article{
    width: auto;
    color: $primary-text-color;
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
    .impact-section{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        gap: 25px;
    }
    h1{
        font-size: 3em;
        padding: 0;
        margin: 0;
    }
    p{
        font-size: 1.3em;
    }
    img{
        width: 25vw;
        border-radius: 19px;
    }
    button{
        width: 12vw;
        padding: 20px;
        background-color:$quaternary-color ;
        border: none;
        color: $primary-color;
        border-radius: 35px;
        font-size: 1em;
        
    }
}
section{
    width: 100%;
    height: auto;
    padding: 60px;
    h2{
        color: $primary-text-color;
        font-size: 2em;
    }
    .healthcare{
        padding-bottom: 60px;
        h2{
            font-weight: 400;
            padding-bottom: 60px;
        }
        .card-section{
            display: flex;
            width: auto;
            height: auto;
            justify-content: center;
            align-items: center;
            column-gap: 200px;
            row-gap: 80px;
            flex-wrap: wrap;
        }
        .product-card{
                width: 14vw;
                height: 48vh;
                background-color: $secundary-color;
                color: $primary-text-color;
                padding: 20px;
                border-radius: 8px;
                .icon{
                    width: 100%;
                    display: flex;
                    justify-content: end;
                    padding-bottom: 12px;
                    svg{
                        width: 26px;
                        height: 26px;
                    }
                }
                .product-image{
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 12vw;
                        height: 30vh;
                        object-fit: cover;
                        border-radius: 6px;
                    }
                }
                h3{
                    font-size: 1em;
                }
                p{
                    font-size: 0.7em;
                }
            }
    }
    .furniture{
    @extend .healthcare;
    .product-card{
        background-color: $tertiary-color;
        color: $primary-color;
    }
    }
}
.footer{
    background-color: $quaternary-color;
    width: 100%;
    height: 250px;
}